# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv
RAILS_SECRET_KEY_BASE=222745518ad130785aaa1e6482530e52d2ca0341e7255c9d3ac9e498f56ce0c019cc76e44d5a32275c5ed548be5ea3e3560713cf93f47427b921c49d478475dd
SECRET_KEY_BASE=7658d539fca82eb30be05c9d5be5922f3fd8db06168bd651b4824c28ed2d5f40764d85cc40b53bf386b3a49f25bea71cb6d766e2e135c3e316d8fa66460231cb
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
REDIS_URL=localhost
