<p>
  Hello <%= @job.user.first_name.humanize %>,
</p>

<p>
  The <%= link_to("job", job_url(@job), class: "contact-link") %> that you've posted on <%= link_to(AppSettings.application_name, AppSettings.mail_domain, class: "contact-link") %> is now live.
</p>

<p>
  Thanks for reading,
  <br/>
  MENAdevs
</p>
