<p>
  Hi <%= @job.user.first_name.humanize %>,
</p>

<p>
  The <%= link_to 'job', job_url(@job) %> that you've posted on <%= link_to 'menadevs.com', AppSettings.mail_domain %> is now live.
</p>

<p>
  Thanks for reading,
  <br/>
  MENAdevs
</p>
