<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix center">
    <h1>Registration</h1>
  </div>

</section>
<!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix add-content-margin">

      <div class="col-md-3"></div>
      <div class="col-sm-12 col-md-6">

        <div class="panel panel-default">
          <div class="panel-body" style="padding: 40px; background-color: #E5FEDF;">
            <h3>Register with your personal email</h3>
            <h5 style="color: #1B9400;"><em>If you are an existing member of MENAdevs Slack group, <br/>you can skip registration and login using your Slack credentials</em></h5>

            <div class="col_full">
              <%= render "form" %>
            </div>

            <div class="col_full">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>
<!-- #content end -->
