<p>
  Hey there,
</p>

<p>
  Welcome aboard and thank you for signing up on <%= link_to 'MENAdevs.com', AppSettings.mail_domain, class: "contact-link" %>.
</p>

<p>
  Please take some time to complete your profile online before you can post jobs, send invitations or publish your profile publicly on the directory of members.
</p>

<p>
  MENAdevs
</p>
