<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to(user_slack_omniauth_authorize_path) do %>
      <!-- "Sign in with #{OmniAuth::Utils.camelize(provider)}" -->
      <%= image_tag('https://platform.slack-edge.com/img/sign_in_with_slack.png',
                    alt: 'Sign in with Slack',
                    width: '172', height: '40',
                    srcset: "https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x") %>
      <!-- <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=3378000868.113106258167">
        <img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
      </a> -->
    <% end %>
  <% end -%>
<% end -%>
