<div class="row">
  <div class="col-md-12">
    <table class="table table-striped members-directory">
      <tbody>
        <% users.each do |user| %>
            <tr>
              <td width='10%'>
                <%= image_tag(user.profile.avatar.url(:thumb), size: '150x150', class: 'img-thumbnail') %>
              </td>
              <td width='80%'>
                <h4 style="padding:0px;margin:0px;"><%= link_to(user.name, directory_user_path(user)) %></h4>
                <%= display_member_details_inline(user) %>
                <hr class="member_profile" />
                <%= display_member_description(user) %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>