<% provide(:title, "Members") %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td width='5%'><%= image_tag(user.profile.avatar_from_slack, size: '50x50', class: 'img-thumbnail') %></td>
            <td>
              <%= link_to directory_user_path(user) do %>
                <%= user.name %>
              <% end %>
              <br/>
              <small><%= user.profile.biography %></small>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
