<div class="table-responsive bottommargin">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Live</th>
        <th>Title</th>
        <th>Company</th>
        <th>Posted by</th>
        <th>Created</th>
        <th>Views</th>
        <th>Hired?</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%= render(partial: "admin_job", collection: @admin_jobs) %>
    </tbody>

  </table>
</div>
