<div class="col-md-12 col-xs-12">
  <div class="progress-all">
    <section class="progress-section">
      <ol class="progress-bar-2">
        <%=raw show_job_status(job) %>
      </ol>
    </section>
  </div>
</div>