<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-md-12 col-xs-12 nopadding">
        <h1>Job Board - Admin view</h1>
      </div>
    </div>
  </div>

</section><!-- #page-title end -->

<%= content_for :flash %>

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <% if @admin_jobs.blank? %>
        <div class="style-msg alertmsg">
          <div class="sb-msg"><i class="icon-warning-sign"></i>There are no jobs on MENAdevs at the moment</div>
        </div>
      <% else %>

        <div class="row">
          <div class="col-md-12">
            <%= render("admin_jobs_table", locals: { admin_jobs: @admin_jobs }) %>
          </div>
        </div>

        <div class="text-center">
          <%= paginate(@admin_jobs) %>
        </div>
      <% end %>

    </div>

  </div>

</section><!-- #content end -->
