<%= tinymce_assets %>

<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-md-8 col-xs-8 nopadding">
        <h1>Edit job</h1>
      </div>
    </div>
  </div>

</section>
<!-- #page-title end -->

<%= content_for :flash %>

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="row clearfix">
        <div class="col-md-12">
          <div class="style-msg alertmsg">
            <div class="sb-msg">
              <i class="icon-warning-sign"></i>
              Approved job posts on <%= link_to(AppSettings.application_host, AppSettings.application_host) %> are distributed via: <strong>email</strong> to all subscribed members, <strong>Slack announcement</strong> and on our <strong>Twitter</strong> account.<br/>
              Job posts expire after <strong>1 month</strong> from the date of approval.
            </div>
          </div>
          <br/>
          <!-- /.alert alert-warning -->
          <%= render("form") %>
        </div>
      </div>

    </div>
  </div>
</div>
