<% provide(:title, "Post a job (free)") %>

<p>Jobs posted on <a href='http://menadevs.com/jobs'>menadevs.com</a> are sent via email to all its members and remain online for 1 month (renewable), free of charge.</p>

<div class="row">
  <div class="col-md-8">
    <%= render "form" %>
  </div>
</div>
