<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-md-8 col-xs-8">
        <h1>Create a new job</h1>
      </div>
    </div>
  </div>

</section>
<!-- #page-title end -->

<%= render("shared/flash") %>

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="row clearfix">
        <div class="col-md-12">
          <div class="style-msg alertmsg">
            <div class="sb-msg">
              <i class="icon-warning-sign"></i> <strong>Important Information</strong>
              <ul style="margin-left: 20px">
                <li>All job posts are subject to approval by the administrators before they are live on the job board.</li>
                <li>Approved job posts on <%= (link_to AppSettings.application_host, AppSettings.application_host) %> are distributed via:
                  <ol style="margin-left: 20px">
                    <li>Email to all subscribed members</li>
                    <li>MENAdevs Slack Group channel #announcement</li>
                    <li>MENAdevs account on Twitter</li>
                  </ol>
                </li>
                <li>Job posts expire after <strong>1 month</strong> from the date of approval</li>
              </ul>
            </div>
          </div>
          <br/>
          <!-- /.alert alert-warning -->
          <%= render("form") %>
        </div>
      </div>

    </div>
  </div>
</div>
