<!-- Footer Widgets
============================================= -->
<div class="footer-widgets-wrap clearfix">

  <div class="col_two_third">

      <div class="widget clearfix">

        <%= image_tag('menadevs_logo_dark.png', class: 'footer-logo') %>

        <p>We believe in the need for a <strong>Strong</strong>, <strong>Productive</strong> &amp; <strong>Reliable</strong> Community to drive people and technology forward.</p>

        <div style="background: url('<%= asset_path('world-map.png') %>') no-repeat center center; background-size: 100%;">
          <address>
            <strong>Headquarters:</strong><br>
            No fixed office space yet, we're spread across Lebanon and the region<br>
          </address>
        </div>
      </div>
  </div>

  <div class="col_one_third col_last">

    <div class="widget clearfix" style="margin-bottom: -20px;">

      <div class="row">

        <div class="col-md-6 bottommargin-sm">
          <div class="counter counter-small"><span data-from="50" data-to="1056000" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
          <h5 class="nobottommargin">Total Messages</h5>
        </div>

        <div class="col-md-6 bottommargin-sm">
          <div class="counter counter-small"><span data-from="10" data-to="299" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
          <h5 class="nobottommargin">Members</h5>
        </div>

      </div>

    </div>

    <div class="widget clearfix" style="margin-bottom: -20px;">

      <div class="row">

        <div class="col-md-6 clearfix bottommargin-sm">
          <a href="https://www.facebook.com/menadevs/" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;" target="_blank">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>
          <a href="https://www.facebook.com/menadevs"><small style="display: block; margin-top: 3px;" target="_blank"><strong>Like us</strong><br>on Facebook</small></a>
        </div>

        <div class="col-md-6 clearfix bottommargin-sm">
          <a href="https://twitter.com/MENAdevs" class="social-icon si-dark si-colored si-twitter nobottommargin" style="margin-right: 10px;" target="_blank">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>
          <a href="https://twitter.com/MENAdevs"><small style="display: block; margin-top: 3px;" target="_blank"><strong>Follow us</strong><br>on Twitter</small></a>
        </div>

      </div>

    </div>

  </div>

</div><!-- .footer-widgets-wrap end -->

</div>

<!-- Copyrights
============================================= -->
<div id="copyrights">

<div class="container clearfix">

  <div class="col_half">
    Copyrights &copy; <%= Time.zone.now.strftime("%Y") %> All Rights Reserved by MENAdevs<br>

    <%= link_to('Code of Conduct',
                'https://github.com/mena-devs/code-of-conduct',
                target: '_blank') %>
  </div>

  <div class="col_half col_last tright">
    <div class="fright clearfix">
      <a href="https://www.facebook.com/menadevs/" class="social-icon si-small si-borderless si-facebook" target="_blank">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
      </a>

      <a href="https://twitter.com/MENAdevs" class="social-icon si-small si-borderless si-twitter" target="_blank">
        <i class="icon-twitter"></i>
        <i class="icon-twitter"></i>
      </a>

      <a href="https://github.com/mena-devs" class="social-icon si-small si-borderless si-github" target="_blank">
        <i class="icon-github"></i>
        <i class="icon-github"></i>
      </a>

      <a href="#" class="social-icon si-small si-borderless si-linkedin">
        <i class="icon-linkedin"></i>
        <i class="icon-linkedin"></i>
      </a>
    </div>

    <div class="clear"></div>
  </div>

</div>

</div><!-- #copyrights end -->
