<div id="home" class="page-section" style="position:absolute;top:0;left:0;width:100%;height:200px;z-index:-2;"></div>

<section id="slider" class="slider-parallax full-screen with-header swiper_wrapper clearfix" style="height: 521px;">
  <div class="slider-parallax-inner">

    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">

        <div class="swiper-slide dark" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%= asset_path('slider/swiper/1.jpg') %>');">
          <div class="container clearfix">
            <div class="slider-caption">
              <h2 data-caption-animate="fadeInUp">MENAdevs</h2>
              <p data-caption-animate="fadeInUp" data-caption-delay="200">Home of the region's Software Engineers, Technical Managers and CTOs.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide dark" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%= asset_path('slider/swiper/3.jpg') %>'); background-position: center top;">
          <div class="container clearfix">
            <div class="slider-caption">
              <h2 data-caption-animate="fadeInUp">Connect With Like Minded People</h2>
              <p data-caption-animate="fadeInUp" data-caption-delay="200">Have you been looking for the perfect place to geek-out? You found it!</p>
            </div>
          </div>
        </div>
      </div>
      <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
      <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
      <div id="slide-number"><div id="slide-number-current"></div><span>/</span>
      <div id="slide-number-total"></div></div>
    </div>

    <a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

  </div>
</section>
