<% provide(:title, "WE ARE MENAdevs") %>

<div class="jumbotron">
  <h1 class="text-center">Meetups & Events</h1>
</div>

<section id="content">
  <div class="content-wrap">
    <section id="section-about" class="page-section">
      <div class="container clearfix">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
              <div class="caption" style="height: 600px">
                <h3>MENAdevs Build Night #3</h3>
                <div class="panel-body welcome-panel-body center">
                  <iframe src="https://www.eventbrite.com/countdown-widget?eid=39840287372" frameborder="0" height="500" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
                  <div style="font-family:Helvetica, Arial; font-size:12px; padding:60px 0 5px; margin:2px; text-align:center;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
              <div class="caption" style="height: 600px">
                <h3>MENAdevs Build Night #4</h3>
                <div class="panel-body welcome-panel-body center">
                  <h4>October 25th, 2019</h4>
                  <h4>Coming soon, stay tuned!</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
