<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-md-12 col-xs-12">
        <h1>Events</h1>

        <div class="btn-toolbar directory-padding">
          <div class="btn-group">
          </div>
        </div>
			</div>
    </div>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">
    <div class="container clearfix">
      <section id="section-about" class="page-section">
        <div class="container clearfix">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <div class="caption" style="height: 300px">
                  <h3>Upcoming event</h3>
                  <div class="panel-body welcome-panel-body center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <div class="caption" style="height: 300px">
                  <h3></h3>
                  <div class="panel-body welcome-panel-body center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="thumbnail">
                <div class="caption" style="height: 300px">
                  <h3></h3>
                  <div class="panel-body welcome-panel-body center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>