<% provide(:title, "This is MENA Devs!") %>

<div class="jumbotron">
  <p>MENA Devs was first launched in January, 2015 with the purpose of connecting Software Developers, Designers and Computer Enthusiasts in the MENA region.</p>

  <p>What started as a Slack group has evolved to become a vibrant community of 200+ members engaging in daily discussions in software, and web development, tools of the trade, work methodologies and workflows, and technical management styles (to name a few of the popular topics).</p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>

<div class='row'>
  <div class='col-md-6'>
    <div class="panel panel-default">
      <% if user_signed_in? %>
        <div class="panel-heading">
          Welcome to MENA Devs Community
        </div>
        <div class="panel-body">
          <ul>
            <li>Connect with members of MENA Devs community</li>
            <li>Receive job alerts and announcements via email</li>
            <li>Receive notifications and participate in events and meetups</li>
            <li>[Slack group] Share and discuss ideas, articles and tech trends</li>
          </ul>

          <div class="text-center">
            <div class="btn btn-default">
              <%= fa_icon("pencil") %>
              <%= link_to "Update your profile", edit_user_profile_path(current_user) %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="panel-heading">
          Join MENA Devs Community
        </div>
        <div class="panel-body join-panel-body">
          <ul>
            <li>Connect with members of MENA Devs community</li>
            <li>Receive job alerts and announcements via email</li>
            <li>Receive notifications and participate in events and meetups</li>
            <li>[Slack group] Share and discuss ideas, articles and tech trends</li>
          </ul>

          <div class="text-left">
              <%= link_to raw("<i class='fa fa-user-plus'></i> Sign up to join MENA Devs"),
                              new_user_registration_path,
                              { :class=> "btn btn-default sign-up-btn custom-btn-1" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="panel panel-default">
      <div class="panel-heading">
        Jobs on MENA Devs
      </div>
      <div class="panel-body join-panel-body">
        <ul>
          <li>Post jobs on menadevs.com, free of charge</li>
          <li>Community members receive job notifications via email and Slack group</li>
          <li>Monitor interest in jobs from community members</li>
        </ul>
        <div class="text-left">
          <%= link_to raw("<i class='fa fa-briefcase'></i> Post a job now"),
                          new_job_path,
                          { :class=> "btn btn-default post-job-btn custom-btn-1" } %>
        </div>
      </div>
    </div>
  </div>
</div>