<% provide(:title, "Welome to MENA Devs") %>

<div class="jumbotron">
  <p>MENA Devs was first launched in January, 2015 with the purpose of connecting Software Developers, Designers and Computer Enthusiasts in the MENA region.</p>

  <p>What started as a Slack group has evolved to become a vibrant community of 200+ members engaging in daily discussions in software, and web development, tools of the trade, work methodologies and workflows, and technical management styles (to name a few of the popular topics).</p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>

<div class='row'>
  <div class='col-md-6'>
    <div class="panel panel-default">
      <div class="panel-heading">
        Join MENA Devs
      </div>
      <div class="panel-body">
        Sign up here
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="panel panel-default">
      <div class="panel-heading">
        Post a Job
      </div>
      <div class="panel-body">
        Post a Job for free on menadevs.com
      </div>
    </div>
  </div>
</div>
