<% provide(:title, "WE ARE MENAdevs") %>

<div class="jumbotron">
  <h1 class="text-center">Community Partners</h1>
</div>

<section id="content">
  <div class="content-wrap">
    <section id="section-about" class="page-section">
      <div class="container clearfix">
        <div class="row">
          <div class="col-sm-6 col-md-4">
          </div>
          <div class="col-sm-6 col-md-4">
          </div>
          <div class="col-sm-6 col-md-4">
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
