<div class="table-responsive bottommargin">
  <table class="table table-striped" id="admin-invitations-datatable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Location</th>
        <th>State</th>
        <th>Retries</th>
        <th>Sent on</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: "admin_invitation", collection: @admin_invitations %>
    </tbody>

  </table>
</div>
