# TinyMCE Options
mode: "exact"
language: "<%= I18n.locale.to_s.split('-')[0].downcase %>"
schema: "html5-strict"
element_format: "text"
resize: true
height: 500
paste_as_text: true
cleanup : true
menubar: false
plugins:
  - preview
  - contextmenu
  - nonbreaking
  - advlist
  - lists
  - paste

toolbar:
  - formatselect | bold | italic | underline | bullist | numlist | outdent | indent | removeformat

setup :
  function(ed) {
    ed.on('init', function()
    {
      ed.execCommand("fontName", true, "Arial");
      ed.execCommand("fontSize", true, "14");
    });
  }
