listen "unix:/var/run/unicorn.sock"
worker_processes 4
user "rails"
working_directory "/home/menadevs"
pid "/var/run/unicorn.pid"
stderr_path "/var/log/unicorn/unicorn.log"
stdout_path "/var/log/unicorn/unicorn.log"
