<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-4">
    <%= render "form" %>
    <br/>
    <br/>
    <%= render "devise/shared/links" %>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <%= render "devise/shared/omniauthable" %>
  </div>
</div>
