<% provide(:title, "WE ARE MENAdevs") %>

<div class="jumbotron">
  <p class="text-center">one of the largest online commmunities in the <abbr title="Middle East and North Africa">MENA</abbr> region</p>
</div>

<div class='row'>
  <div class='col-md-4'>
    <div class="panel panel-default">

      <div class="panel-heading">
        WHAT IS MENAdevs
      </div>

      <div class="panel-body welcome-panel-body">
        <h4>
          A group to belong to
        </h4>

        <p>
          The Slack group started in January 2015 and we've grown steadily ever since. We have now reached a total of 299 members. The group is restricted to professionals working in the Software Development Industry.
        </p>
      </div>
    </div>
  </div>

  <div class='col-md-4'>
    <div class="panel panel-default">

      <div class="panel-heading">
        OUR MISSION
      </div>

      <div class="panel-body welcome-panel-body">
        <h4>
          To learn, have fun, exchange knowledge
        </h4>

        <p>
          Slack is one of the mediums with which we achieved the goal of connecting. The purpose of our existence is to join forces to grow at an individual capacity and as a collective.
        </p>
      </div>
    </div>
  </div>

  <div class='col-md-4'>
    <div class="panel panel-default">

      <div class="panel-heading">
        OUR PLANS
      </div>

      <div class="panel-body welcome-panel-body">
        <h4>
          To procude
        </h4>

        <p>
          Our region is known for its reliance on consuming technology and repurposing it for our needs. Our aim is to change that. As a collective we have and we will continue to produce what's in the best interest of our group and the communities we are part of.
        </p>
      </div>
    </div>
  </div>
</div>
