//= require bootstrap
//= require style
//= require swiper
//= require dark
//= require font-icons
//= require animate
//= require magnific-popup
//= require rails_bootstrap_forms
//= require font-awesome
//= require responsive
//= require_self
