// Modifications

.alert-danger {
  ul {
    margin: 0 0 0 20px;
  }
}

.content-wrap {
  padding-bottom: 0px;
}

.button-directory {
  margin: 1px;
}

.directory-padding {
  margin-top: 6px;
}

table.borderless td, table.borderless th{
 border: none !important;
}

.interests-listing {
  padding-left: 35px;
  margin-bottom: 15px;
}

.profile-padding{
  padding-left: 25px;
  padding-top: 10px;
}

.profile-content-padding{
  padding-left: 25px;
}

.tab-layout {
  padding: 0px;
  background-color: #fcfcfc;
  min-height: 300px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.tab-internal {
  padding: 40px;
}

.content-padding-bottom {
  padding-bottom:50px;
}

.content-margin-left {
  margin-left: 20px;
}

ul, ol {
  margin-left: 20px;
}

hr.member_profile {
  width:300px;
  align:left;
  padding-bottom:5px;
  margin:0px;
  border-top: 1px solid gray;
}

p.member_profile {
  font-style:italic;
  padding-bottom:5px;
  margin:0px;
}

p.member_profile_invalid {
  font-weight:bold;
  font-style:italic;
}

.members-directory tr { line-height: 14px; }

.filter-title {
  padding-top:8px;
  margin:0px;
}