<p><strong>Hey <%= @user.first_name.titleize %></strong>,</p>

<p>
  It's happening! The event that you all... have probably been waiting for!
</p>

<p>
  We are proud to announce MENA Devs Build Night #4 happening on October 25th at 6:00PM @ Murex Systems Beirut!
</p>

<p>
  <%= link_to("Join us for a fun night of Pizza\, Drinks and CODE\!", "https://www.eventbrite.com/e/menadevs-build-night-4-for-developers-hackers-and-geeks-tickets-73786971819", class: "contact-link") %> 
</p>

<p>
  Get your tickets for free before they run out (Limited seats, Registration is a must).
</p>

<p>
  MENA Devs
</p>
